:root {
  --cor-primaria: #f3f5fc !important;
  --cor-segundaria: #e8e8e8 !important;
  --cor-terciaria: #0a3871 !important;
  --cor-quaternaria: #343a40 !important;
  --cor-quinquenaria: #495057 !important;
  --fonte-primaria: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-primaria);
  color: var(--cor-segundaria);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
}

.header-logo {
  width: 7.5rem;
  height: 3rem;
  margin: 2.5rem 00rem 0rem 2.5rem;
}

.container {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.box-direita {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 42.5rem;
  align-content: flex-start;
}

.box-texto {
  color: var(--cor-terciaria);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 3rem */
  height: 36rem;
  margin: 10.5rem 0 0 15rem;
  resize: none;
  border: none;
  width: 100%;
}

::placeholder {
  color: #0a3871;
}
.box-texto:focus {
  outline: none;
}
.saida-texto {
  background: white;
  background-image: url(../img/espiao.png);
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  margin-left: 98px;
  margin-top: 20px;
  padding-left: 20px;
  position: fixed;
}

.saida-texto:focus {
  outline: none;
}
.botoes {
  display: flex;
  margin-top: 18px;
}
